<div id="templatemo_menu">
    <ul>
        {{#ifCond page '==' 'HOME'}}
        <li>
            <a href="/" class="current">Home</a>
        </li>
        {{else}}
        <li>
            <a href="/">Home</a>
        </li>
        {{/ifCond}}
        <li>
            <a href="#">Sách</a>
        </li>
        {{#ifCond page '==' 'THELOAI'}}
        <li>
            <a href="/theloai" class="current">Thể loại</a>
        </li>
        {{else}}
        <li>
            <a href="/theloai">Thể loại</a>
        </li>
        {{/ifCond}}

        {{#ifCond page '==' 'TACGIA'}}
        <li>
            <a href="/tacgia" class="current">Tác giả</a>
        </li>
        {{else}}
        <li>
            <a href="/tacgia">Tác giả</a>
        </li>
        {{/ifCond}}
        <li>
            <a href="#">Quản lý</a>
        </li>
    </ul>
    <input type="text" name="search" placeholder="Search..">
</div>