<div id="templatemo_menu">
    <ul>
        <li>
            <a href="/" class="current">Home</a>
        </li>
        <li>
            <a href="#">Sách</a>
        </li>
        <li>
            <a href="/theloai">Thể loại</a>
        </li>
        <li>
            <a href="#">Tác giả</a>
        </li>
        <li>
            <a href="#">Quản lý</a>
        </li>
    </ul>
    <input type="text" name="search" placeholder="Search..">
</div>