 <div id="templatemo_footer">
        <a href="/">Home</a> |
        <a href="#">Search</a> |
        <a href="#">FAQs</a> |
        <a href="#">Contact Us</a>
        <br /> Copyright © 2018
        <a href="#">
            <strong>Trần Văn Thanh - Nguyễn Hiếu Thắng</strong>
        </a>
    </div>