body {}

input[type=text] {
    width: 130px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #8c6538;
    border-radius: 4px;
    font-size: 16px;
    background-color: #8c6538;
    background-image: url('../images/iconsearch.png');
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    position: relative;
    top: -7px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 40%;
}

.container.myContainer {
    clear: both;
    width: 960px;
    background-color: #181818;
    margin-right: 184px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.box {
    width: 196px;
    height: 350px;
    border: 1px solid #b7b648;
    display: inline-block;
    margin: 10px;
    font-size: 14px;
}

.box img {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}

.thongtin p {
    font-size: 12px;
    margin: 0px;
    padding-left: 8px !important;
}

.box:hover {
    border: 1px solid #666520;
}

.box_author {
    width: 196px;
    height: 270px;
    border: 1px solid #b7b648;
    display: inline-block;
    margin: 10px;
    font-size: 14px;
}

.box_author img {
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}

.box_author:hover {
    border: 1px solid #666520;
}

#templatemo_content #templatemo_content_right {
    float: right;
    width: 670px;
    height: 100%;
}

#templatemo_content #templatemo_content_right_author {
    float: right;
    width: 100%;
    height: 100%;
}

/*  Css phần subpage */

.tomtatthongtin {
    margin-left: 173px;
}

.ttchitiet {
    display: block;
    margin-top: 220px;
}

* {
    box-sizing: border-box
}

/* Slideshow container */

.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
    height: 500px;
}

/* Hide the images by default */

.mySlides {
    display: none;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}