<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Library</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--   -->
<!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
<script src="bootstrap/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script> -->
<!-- Bootstrap --> 
<link href="/assets/user/templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/assets/user/css/main.css">
</head>
<body>
{{{body}}}
{{{_sections.scripts}}}
</body>
</html>