<div id="templatemo_container">
    {{>user-menu}}
    <!-- end of menu -->

    <div id="templatemo_header">

    </div>
    <!-- end of header -->
    <div id="templatemo_content">
        <div id="templatemo_content_right_author">
            <div class="cleaner_with_height">&nbsp;</div>
            <form method="post">
                <label for="USERNAME">USERNAME</label>
                <input type="text" name="username" id="username">
                <label for="PASSWORD">PASSWORD</label>
                <input type="text" name="password" id="password">
                <button type="submit">Đăng nhập</button>
            </form>


        </div>
        <!-- end of content right -->

        <div class="cleaner_with_height">&nbsp;</div>
    </div>
    <!-- end of content -->

    {{>user-footer}}
    <!-- end of footer -->

</div>
<!-- end of container -->