<div id="templatemo_container">
    {{>user-menu}}
    <!-- end of menu -->

    <div id="templatemo_header">

    </div>
    <!-- end of header -->
    <div id="templatemo_content">
        <div id="templatemo_content_right_author">

            <h1>Danh sách tác giả</h1>

            <div class="danhsach">
                {{#each authors}}
                <div class="row">
                    {{#each this}}
                    <div class="box_author">
                        <img src="/upload/author/{{picture}}">
                        <div class="thongtin">
                            <p>{{TEN}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/each}} 
            </div>
            <div class="cleaner_with_height">&nbsp;</div>
            <div class="pagination">
                <a href="#">&laquo;</a>
                {{#each pages}}
                <a href="#">{{this}}</a>
                {{/each}}
                <a href="#">&raquo;</a>
            </div>
        </div>
        <!-- end of content right -->

        <div class="cleaner_with_height">&nbsp;</div>
    </div>
    <!-- end of content -->

   {{>user-footer}}
    <!-- end of footer -->

</div>
<!-- end of container -->