<div class="main-content">

    {{>header-admin}}

    <hr /> {{>breadcrumb-admin}}
    <h2>{{heading}}</h2>
    <form method="POST" class="form-horizontal form-groups-bordered">
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-primary" data-collapsed="0">
                    <div class="panel-heading">
                        <div class="panel-title">
                            {{heading}}
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tên</label>

                            <div class="col-sm-8">

                                <input type="text" name="TEN" value="" id="TEN" class="form-control" placeholder="Tên" required>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tuổi</label>

                            <div class="col-sm-8">

                                <input type="text" name="TUOI" value="" id="TUOI" class="form-control" placeholder="Tuổi">

                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Thông tin</label>

                            <div class="col-sm-8">
                                <textarea name="THONGTIN" id="THONGTIN" class="textarea" placeholder="Thông tin" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">{{article.content}}</textarea>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8" style="text-align: center;">
                    <div class="bs-example">
                        <button type="submit" class="btn btn-green btn-icon">
                            Thêm
                            <i class="entypo-check"></i>
                        </button>
                    </div>

                </div>
            </div>
    </form>
    </div>

    <br />

</div>






{{#section 'scripts'}}
<!-- Imported styles on this page -->

<!-- Bottom scripts (common) -->
<script src="/assets/admin/js/gsap/TweenMax.min.js"></script>
<script src="/assets/admin/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="/assets/admin/js/bootstrap.js"></script>
<script src="/assets/admin/js/resizeable.js"></script>
<script src="/assets/admin/js/neon-api.js"></script>
<script src="/assets/admin/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>

<!-- JavaScripts initializations and stuff -->
<script src="/assets/admin/js/neon-custom.js"></script>

<!-- Imported scripts on this page -->
<script src="/assets/admin/js/bootstrap-switch.min.js"></script>

<!-- Demo Settings -->
<script src="/assets/admin/js/neon-demo.js"></script>

<script type="text/javascript" src="/assets/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/assets/ckeditor/adapters/jquery.js"></script>

<script type="text/javascript">
    CKEDITOR.replace('THONGTIN', {
        "extraPlugins": 'imagebrowser',
        "imageBrowser_listUrl": "/files"
    });
</script> {{/section}}